.as-home-details {
	.as-banner-details {
		.ui.segment.as-header {
			padding: 20px 30px;
			background-color: #755139ff;

			border-radius: 0;
			.as-header-text {
				font-size: 25px;
				color: #f2edd7ff;
			}
			.as-logout-text {
				float: right;
				font-size: 20px;
				cursor: pointer;
				color: #f2edd7ff;
			}
		}
		.as-banner-details {
			display: flex;
			margin: 50px 0px 30px;
			justify-content: center;
			.as-purchase-card {
				width: 210px;
				height: 125px;
				background-color: #f2edd7ff;
				border: 1px solid #755139ff;
			}
			.as-sales-card,
			.as-profit-loss-card,
			.as-stock-card,
			.as-staff-management-card {
				width: 210px;
				margin-left: 25px;
				height: 125px;
				background-color: #f2edd7ff;
				border: 1px solid #755139ff;
			}
		}
	}
	.as-tab-details {
		margin: 50px 30px 30px;
		.ui.secondary.pointing.menu .item {
			font-size: 15px;
			padding: 10px 30px !important;
			color: #755139ff;
		}
		.ui.secondary.pointing.menu.active.item {
			background-color: #755139ff;
			color: #f2edd7ff;
		}
		.ui.secondary.pointing.menu a.item:hover {
			background-color: #755139ff;
			color: #f2edd7ff;
		}
	}
}

.ui.card > .content > .header:not(.ui) {
	font-size: 21px !important;
	color: #755139ff;
}

.ui.card > .content > .header + .description {
	font-size: 21px !important;
	color: #755139ff;
	padding-top: 7px;
}

.btn-submit,
.btn-cancel {
	width: 100px;
	height: 32px;
	border: 1px solid #bebebe;
	color: #f2edd7ff;
	background-color: #755139ff;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}

.btn-cancel {
	margin-left: 30px;
}

.ui.input {
	height: 32px;
}
.ui.input > input {
	border-radius: 0 !important;
	width: 250px;
	border: 1px solid #bebebe !important;
}
.rcal-date-picker {
	width: 250px;
	.rcal-picker-body .rcal-single-calendar {
		width: 248px;
	}

	.rcal-picker-header {
		border: 1px solid #bebebe;
		height: 38px;
		padding: 7px;
		.rcal-header-content .rcal-date-value {
			padding-left: 10px;
		}
	}

	.rcal-picker-body .rcal-calendar-without-sidebar,
	.rcal-picker-body
		.rcal-calendar-without-sidebar
		.rcal-calendar
		.rcal-calendar-days
		.rcal-calendar-days-row
		.rcal-date-item,
	.rcal-picker-body
		.rcal-calendar-without-sidebar
		.rcal-calendar
		.rcal-calendar-days
		.rcal-week-header
		.rcal-week-item {
		width: 100%;
	}
}

input.rcal-date-input-box.rcal-date-input-selected {
	width: 182px !important;
}
.ui.selection.dropdown {
	border-radius: 0 !important;
	width: 250px;
	border: 1px solid #bebebe !important;
	color: #755139ff !important;
}

input.react-datepicker-ignore-onclickoutside,
input[type='text'] {
	width: 250px;
	height: 38px;
	border: 1px solid #bebebe;
	padding-left: 10px;
	color: #755139ff;
}
.react-datepicker__week {
	font-size: 12px;
}
.react-datepicker__day-name {
	font-size: 13px;
}
.react-datepicker__day,
.react-datepicker__week,
.react-datepicker__day-name,
.react-datepicker__current-month {
	color: #755139ff !important;
	font-weight: 600;
}

.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__day--selected {
	color: #f2edd7ff !important;
	background-color: #755139ff !important;
	border-radius: 0px !important;
}

.react-datepicker__month-container {
	width: 250px;
}
.react-datepicker {
	border-radius: 0px;
}
