.as-home-details {
	.ui.segment.as-header {
		padding: 20px 30px;
		background-color: #755139ff;

		border-radius: 0;
		.as-header-text {
			font-size: 25px;
			color: #f2edd7ff;
		}
		.as-logout-text {
			float: right;
			font-size: 20px;
			cursor: pointer;
			color: #f2edd7ff;
		}
	}
	.as-banner-details {
		display: flex;
		margin: 50px 0px 30px;
		justify-content: center;
		.as-purchase-card {
			width: 210px;
			height: 125px;
			background-color: #755139ff;
		}
		.as-sales-card,
		.as-profit-loss-card,
		.as-stock-card,
		.as-staff-management-card {
			width: 210px;
			margin-left: 25px;
			height: 125px;
			background-color: #755139ff;
		}
	}
}

.ui.card > .content > .header:not(.ui) {
	font-size: 21px !important;
	color: #f2edd7ff;
}

.ui.card > .content > .header + .description {
	font-size: 21px !important;
	color: #f2edd7ff;
	padding-top: 7px;
}
