.as-product-details {
	margin-top: 40px;

	.all-error-label {
		color: red;
		margin-left: 126px;
		margin-bottom: 10px;
		font-size: 15px;
	}

	.product-id,
	.product-type,
	.product-name,
	.product-price,
	.product-date {
		display: flex;
		margin-bottom: 20px;
		font-size: 14px;
		color: #755139ff;

		.error-label {
			margin-left: 12px;
			color: red;
			padding-top: 5px;
		}

		.id-text,
		.type-text,
		.name-text,
		.price-text,
		.date-text {
			margin-bottom: 0;
			line-height: 32px;
			font-weight: 600;
		}

		.id-text {
			padding-right: 60px;
		}
		.type-text {
			padding-right: 42px;
		}
		.name-text {
			padding-right: 34px;
		}
		.price-text {
			padding-right: 92px;
		}
		.date-text {
			padding-right: 43px;
		}
	}
}
