.assets-login-details {
	overflow-x: hidden;
	overflow-y: hidden;
	.assets-heading {
		display: flex;
		margin: 25px 40px;
		.assets-text {
			margin: 0;
			padding-left: 10px;
			color: #0a51de;
			font-size: 28px;
		}

		.assets-icon {
			color: #0a51de;
			font-size: 30px;
		}
	}
	.assets-image-form {
		display: flex;
		.assets-login-img {
			width: 780px;
		}
		.login-details-form {
			margin: 80px 60px 50px 50px;
			font-family: Arial, Helvetica, sans-serif;
			.login-header-text {
				font-size: 30px;
				color: #566573;
			}
			.login-sub-text {
				padding: 8px 0px 20px 0px;
				font-size: 15px;
				color: #566573;
			}
			.ui.form.login-form {
				.ui.stacked.segment.login-box {
					border: none;
					box-shadow: none;
					padding: 0;
					.field.login-input {
						width: 350px;
					}
				}
				.ui.stacked.segment.login-box::after,
				.ui.stacked.segment.login-box::before {
					background: none;
					border-top: none;
				}
				.ui.button.login-button,
				.ui.button.security-submit-button {
					background-color: #0a51de;
					color: #ffffff;
					border-radius: 20px;
					width: 150px;
					margin-top: 10px;
				}
				.ui.button.forgot-pass-button,
				.ui.button.security-cancel-button {
					.ui.button.login-button;
					margin-left: 15px;
					width: 155px;
				}
				.ui.button.security-cancel-button,
				.ui.button.security-submit-button {
					width: 120px;
				}
				.pass-success-message {
					width: 350px;
					margin-top: 20px;
					background-color: #d8fce6;
					border: 1px solid #a3c293;
					color: #1a531b;
					border-radius: 8px;
					padding: 10px;
					.message-header {
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}
